@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
    ViewData["MainMenu"] = "THỐNG KÊ BÁO CÁO";
    
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/vendor/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">

    <style>
        .demo-card label {
            display: block;
            position: relative;
        }

        .demo-card .col-lg-4 {
            margin-bottom: 30px;
        }
    </style>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="body">
                <div class="row clearfix demo-masked-input">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Tài khoản hiện hành</p>
                                <input type="text" id="" class="form-control" value="Hoàng Văn Minh" disabled>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Chủ đầu tư</p>
                                <select class="form-control show-tick ms search-select" id="slOnwer" data-placeholder="Chọn chủ đầu tư">
                                    <option>Focus Solar company</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Chọn trạm sạc</p>
                                <select class="form-control show-tick ms search-select" data-placeholder="Chọn trạm sạc">
                                    <option>Cây xăng Thủ Thiêm 1</option>
                                    <option>Tòa nhà Bitexco 2</option>
                                    <option>Chung cư K26</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Chọn trụ sạc</p>
                                <select class="form-control show-tick ms search-select" data-placeholder="Chọn trụ sạc">
                                    <option>Trụ sạc A-01</option>
                                    <option>Trụ sạc A-02</option>
                                    <option>Trụ sạc A-03</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Chọn trụ sạc</p>
                                <select class="form-control show-tick ms search-select" data-placeholder="Chọn súng sạc">
                                    <option>Súng 1</option>
                                    <option>Súng 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Nhập số kWh muốn</p>
                                <input type="text" id="" class="form-control" placeholder=".....kWh" style="border: 2px solid darkorange; padding: 15px 10px; font-size: 20px; " />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Nhập số Điện áp</p>
                                <input type="text" id="" class="form-control" placeholder=".....V" style="border: 2px solid darkblue; padding: 15px 10px; font-size: 20px;" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Nhập số Dòng xả</p>
                                <input type="text" id="" class="form-control" placeholder=".....A" style="border: 2px solid darkred;; padding: 15px 10px; font-size: 20px;" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <p>Nhập số tiền</p>
                                <input type="text" id="" class="form-control" placeholder=".....LNP" style="border: 2px solid darkgreen; padding: 15px 10px; font-size: 20px;" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 d-flex align-items-center">
                            <button type="button" class="btn btn-success" style="margin-right: 15px; padding: 1.1rem 1.1rem; font-size: 17px; "><i class="fa fa-save"></i> <span>BẮT ĐẦU</span></button>
                            <button type="button" class="btn btn-danger"  style="padding: 1.1rem 1.1rem; font-size: 17px; "><i class="fa fa-eraser"></i> <span>DỪNG LẠI</span></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
            <div class="body">
                <div class="table-responsive m-b-0 c_list">
                    <table class="table m-b-0 dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User name</th>
                                <th>Mã hệ thống</th>
                                <th>Chủ đầu tư</th>
                                <th>Trạm sạc</th>
                                <th>Trụ sạc</th>
                                <th>thông tin sạc</th>
                                <th>Total Fee</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <img src="~/images/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                    <p class="c_name">Hoàng Văn Minh</p>
                                </td>
                                <td><span class="badge badge-info ">BX2023BX</span></td>
                                <td><span>Focus Solar company</span></td>
                                <td><span class="text-success">Chung cư K26</span></td>
                                <td><span class="text-info">Trụ sạc A-03</span></td>
                                <td><span class="badge badge-warning">418.2 V</span><span class="badge badge-success">144.4 A</span><span class="badge badge-danger">1.830 kWh</span></td>
                                <td><span class="badge badge-info">1.83 PLN</span></td>
                                <td><span class="badge badge-primary">25/05/2023 09:35:00</span></td>
                                <td><span class="badge badge-primary">25/05/2023 09:38:40</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Input Slider -->
<div class="row clearfix" style="display:none">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                        <div id="nouislider_basic_example"></div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div id="nouislider_range_example"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
    <script src="~/vendor/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
    <script src="~/vendor/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
    <script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/vendor/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->

    <script src="~/vendor/select2/select2.min.js"></script> <!-- Select2 Js -->

    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/pages/forms/advanced-form-elements.js"></script>
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/js/widgets/infobox/infobox-1.js"></script>

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/js/pages/tables/jquery-datatable.js"></script>
    <script>

        $('.dvResult').hide();

        function callResult() {
            if ($('#slOnwer').val() == "0") {
                alert("haha")
            }
            $('.dvResult').show();
        }

        function callClear() {
            $('.dvResult').hide();
        }

        $('.knob').knob({
            draw: function () {
                // "tron" case
                if (this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv) // Angle
                        ,
                        sa = this.startAngle // Previous start angle
                        ,
                        sat = this.startAngle // Start angle
                        ,
                        ea // Previous end angle
                        , eat = sat + a // End angle
                        ,
                        r = true;

                    this.g.lineWidth = this.lineWidth;

                    this.o.cursor &&
                        (sat = eat - 0.3) &&
                        (eat = eat + 0.3);

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.value);
                        this.o.cursor &&
                            (sa = ea - 0.3) &&
                            (ea = ea + 0.3);
                        this.g.beginPath();
                        this.g.strokeStyle = this.previousColor;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                        this.g.stroke();
                    }

                    this.g.beginPath();
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                    this.g.stroke();

                    this.g.lineWidth = 2;
                    this.g.beginPath();
                    this.g.strokeStyle = this.o.fgColor;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                    this.g.stroke();

                    return false;
                }
            }
        });

        $('#linecustom1').sparkline('html', {
            height: '55px',
            width: '100%',
            lineColor: '#a095e5',
            fillColor: '#a095e5',
            minSpotColor: true,
            maxSpotColor: true,
            spotColor: '#e2a8df',
            spotRadius: 0
        });

        $('#linecustom2').sparkline('html', {
            height: '55px',
            width: '100%',
            lineColor: '#75c3f2',
            fillColor: '#75c3f2',
            minSpotColor: true,
            maxSpotColor: true,
            spotColor: '#8dbfe0',
            spotRadius: 0
        });

        $('#linecustom3').sparkline('html', {
            height: '55px',
            width: '100%',
            lineColor: '#fc7b92',
            fillColor: '#fc7b92',
            minSpotColor: true,
            maxSpotColor: true,
            spotColor: '#e0b89d',
            spotRadius: 0
        });
    </script>

}